@header-height: 50px;
@Duration: 300ms;

.header {
    background: @color-primary;
}

.nav {
    background: @color-primary;
    * {
        transition: transform @Duration;
    }
    ul {
        position: absolute;
        z-index: -1;
    }
    li {
        display: inline-block;
        height:@header-height;
        position: relative;
        li {
            display: block;
            height: @header-height - 10;
        }
    }
    a {
        white-space: nowrap;
        line-height: @header-height;
        display: block;
        padding:0 20px;
        color: #fff;
        font-size: .7rem;
        &:hover {
            cursor: pointer;
        }
    }
    & > li {
        > a {
            font-size: .8rem;
            &:hover, &.active {
                background: darken(@color-primary, 10%);
            }
            .fa {
                margin-right:.25rem;
            }
            + ul {
                min-width:100%;
                transform:translate3d(0, -100%, 0);
                visibility: hidden;
                &.active {
                    transform:translate3d(0, 0, 0);
                    visibility: visible;
                }
                > li {
                    > a{
                        line-height: @header-height - 10;
                        height: @header-height - 10;
                        background: #32445C;
                        &.active, &:hover {
                            background: #3F5775;
                        }
                        + ul {
                            overflow: hidden;
                            background: #3F5775;
                            top:0;
                            left:100%;
                            visibility: hidden;
                            opacity: 0;
                            &.active {
                                opacity: 1;
                                visibility: visible;
                            }
                            > li {
                                > a {
                                    position: relative;
                                    left:-100%;
                                    opacity: 0;
                                    transition: opacity .2s ease .3s;
                                    line-height: @header-height - 10;
                                    height: @header-height - 10;
                                    &:hover {
                                        background: lighten(#3F5775, 4%);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
